<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
{{ partial "head" . }}
<body>
    <header class="o-header">
        <a href="/" class="o-header__logo"><img src="/images/logo.png" alt="Logo Chciples.cz" class="o-header__logoimage">
        </a>
        <button type="button" class="o-header__mobile-nav-button" id="mobile-nav-button">
            <span class="sr-only">Zobrazit/skrýt navigaci</span>
        </button>
        <nav class="o-nav">
            <ul class="o-nav__list">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="o-nav__item"><a href="{{ .URL }}" class="o-nav__link{{ if eq .URL $currentPage.RelPermalink }} o-nav__link--active{{ end }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </nav>
    </header>
    <main class="o-main">
        <div class="c-intro">
            <h1 class="c-intro__heading">
                <span class="c-intro__name">{{ .Params.intro.heading }}</span>
                <span class="c-intro__motto">{{ .Params.intro.motto | safeHTML }}</span>
            </h1>
            <a href="{{ .Params.mobilearrow.link }}" class="c-intro__arrow">
                <span class="sr-only">{{ .Params.mobilearrow.text }}</span>
            </a>
        </div>
        {{ block "content" . }}{{ end }}
    </main>
    <footer class="o-footer">
        &copy; 2020 Chciples.cz<br><small>Děkujeme <a href="https://github.com/djaiss/mapsicon">Regisu Freydovi</a> za mapu ČR.</small>
    </footer>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            // mobile navigation toggle button
            $('#mobile-nav-button').click(function () {
                $('.o-nav').fadeToggle();
            });
        });
    </script>
    {{ block "scripts" . }} {{ end }}
</body>
</html>
